<footer>
    <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
    <nav class="footer">
        <div class="nuestros-productos">Inicio
            <ul>
                <li><a href="">Nosotros</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
        </div>
        <div class="nuestros-productos">Nuestros Productos
            <ul>
                <li><a href="">Piano</a></li>
                <li><a href="">Bajos y Guitarras</a></li>
                <li><a href="">Accesorios</a></li>
                <li><a href="">Producción Musical</a></li>
                </ul>
            </div>      
            <div >
                <div class="iconos">
                    <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
            <p class="datos">Tel.: 011 4871-0154</p>
            <p class="datos">Email: grupo10@gmail.com</p>
        </div>
    </nav>
</footer>