<header>
    <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
    <nav class="header">
        <div class="menu-desktop">
            <p>Nuestros Productos</p>
            <p>Nosotros</p>
            <p>Contáctanos</p>
        </div>
        <div class="barraBusqueda">
            Realizá tu búsqueda
            <i class="fas fa-search"></i>
            <i class="fas fa-bars"></i>
        </div>
        <div class="menu-desktop">
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </nav>
</header>