<header>
    <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
    <nav class="header">
        <div class="menu-desktop">
            <p>Nuestros Productos</p>
            <p>Nosotros</p>
            <p>Contáctanos</p>
        </div>
        <form class="barraBusqueda" action="/search" method="GET">
            <input type="search" name="search" id="search" placeholder="Realizá tu búsqueda">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <div class="bars">
            <i class="fas fa-bars"></i>
        </div>
        <div class="navbar-icons">
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-shopping-cart"></i>
        </div>
    </nav>
</header>