<header>
    <a href="/"><img src="/images/Logo-astronauta.png" alt="Logo-tienda"></a>
    <nav class="header">
        <div class="menu-desktop">
            <a href="../products/create"><p>Publicá</p></a>
            <p>Nosotros</p>
            <p>Contáctanos</p>
        </div>
        <form class="barraBusqueda" action="/products/search" method="GET">
            <input type="search" name="search" id="search" placeholder="Realizá tu búsqueda">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
        <nav role="navigation">
            <div id="menuToggle">
                <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
                <ul id="menu">
                    <a href="/">
                        <li>Home <i class="fas fa-home"></i></li>
                    </a>
                    <a href="../users/profile">
                        <li>Ingresá <i class="fas fa-user-circle"></i></li>
                    </a>
                    <a href="../products/create">
                        <li>Vendé <i class="fas fa-dollar-sign"></i></li>
                    </a>
                    <a href="../products/carrito">
                        <li>Carrito <i class="fas fa-shopping-cart"></i></li>
                    </a>
                </ul>
            </div>
        </nav>
        <div class="navbar-icons">
            <div class="nav-as">
            <a href="/users/profile"><i class="fas fa-user-circle profile-pic"></i></a>
            <ul class="profile-controls">
                
                <a href="../users/profile">
                    <li>Ingresá</li>
                </a>
                <br>
                <a href="../users/logout">
                    <li>Log-Out</li>
                </a>
            </ul>
            </div>
            <a href="/products/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
    </nav>
</header>