<h2>Pianos</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo piano.png" /></a>
                <a href="/products/detail/"><h4>Piano ABCD</h4></a>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="/products/pianos"><p>Ir a Categoría</p></a>
              </div>
            </div>