<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link rel="stylesheet" href="/Css/stylesheet.Css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
        <nav class="header">
            <p>Nuestros Productos</p>
            <p>Nosotros</p>
            <p>Contáctanos</p>
            <div class= "barraBusqueda">Realizá tu búsqueda</div>
            <i class="fas fa-search"></i>
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-shopping-cart"></i>
        </nav>
    </header>
    <main>
        <section class="prods" >
            <article class="productos-carro">
                <img src="/Images/guitar.jpg" alt="Articulo 1">
                <div class="detalle">
                <h3>Guitarra Fender</h3>
                <h6>Guitarra criolla clásica Gracia M1 natural</h4>
                <h4>$40.000</h5>
                </div>
                <div class="boton-carro">
                    <div>+</div>
                    <div class="num">1</div>
                    <div>-</div>
                </div>
                
            </article>
            <article class="productos-carro">
                <img src="/Images/cableGuitarra.jpg" alt="cable guitarra">
                <div class="detalle">
                <h3>Cable</h3>
                <h6>Cable para instrumentos plug plug</h4>
                <h4>$950</h5>
                </div>
                <div class="boton-carro">
                    <div>+</div>
                    <div class="num">2</div>
                    <div>-</div>
                </div>
            </article>

            

        </section>
        <section class="resumen">
           <div class="caja">
                <div class="a1">
                <p>Guitarra Fender 1u</p><p><strong>$40.000</strong></p>
                </div>
                <div class="a2">
                <p>Cable 2u</p><p><strong>$1900</strong></p>
                </div>
                <div class="a3">
                <p>Envio</p><p><strong>$500</strong></p>
                </div>
                <div class="a4">
                <p><strong>Total</strong></p><p><strong>$42.400</strong></p>
                </div>
                <div class="boton">
                    Finalizar Compra
                </div>
            </div> 

        </section>
        
    </main>

    <footer>
            <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
            <nav class="footer">
                <div>Inicio
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>

                </div>
                <div>Nuestros Productos
                    <ul>
                        <li><a href="">Piano</a></li>
                        <li><a href="">Bajos y Guitarras</a></li>
                        <li><a href="">Accesorios</a></li>
                        <li><a href="">Producción Musical</a></li>
                    </ul>
                </div>
                              
                <div>
                <div class="iconos">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-whatsapp"></i>
                </div>
                <p class="datos">Tel.: 011 4871-0154</p>
                <p class="datos">Email: grupo10@gmail.com</p>
                </div>
            </nav>
        </footer>

</body>
</html>