<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link rel="stylesheet" href="/Css/stylesheet.Css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
        <nav class="header">
            <p>Nuestros Productos</p>
            <p>Nosotros</p>
            <p>Contáctanos</p>
            <div class= "barraBusqueda">Realizá tu búsqueda</div>
            <i class="fas fa-search"></i>
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-shopping-cart"></i>
        </nav>
    </header>
    <main>
        <section class="product-details">
            <div class = "reference-images">   
                <img src="./Images/guitar.jpg" alt="frontal"><br>
                <img src="./Images/guitar-fender.jpg" alt="lateral">
            </div>
            <div class="main-image">
                <img src="./Images/guitar.jpg" alt="frontal">
            </div>
            <div  class="benefits">
                <div class="product-title"> 
                    <h2>Guitarra Fender</h2>
                </div>
                <div class="price-cuotas-shipping-garanty">
                    <div  class = "price">
                        $40.000
                    </div>
                    <div class="cuotas-shipping-garanty">
                        <ul>
                            <li>3, 6, 9, 12 o 18 Cuotas sin Interés.</li>
                            <li>Envío a todo el país.</li>
                            <li>Garantía de fábrica: 30 días.</li>
                        </ul>
                    </div>
                </div>
                <div class="boton">
                    Comprar
                </div>
            </div>
        </section>
        <section>
            <div class="description">
                Descripción
            </div>
        </section>
    </main>
    <footer>
        <img src="/images/Logo-astronauta.png" alt="Logo-tienda">
        <nav class="footer">
            <div>Inicio
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>

            </div>
            <div>Nuestros Productos
                <ul>
                    <li><a href="">Piano</a></li>
                    <li><a href="">Bajos y Guitarras</a></li>
                    <li><a href="">Accesorios</a></li>
                    <li><a href="">Producción Musical</a></li>
                </ul>
            </div>
                          
            <div>
            <div class="iconos">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-whatsapp"></i>
            </div>
            <p class="datos">Tel.: 011 4871-0154</p>
            <p class="datos">Email: grupo10@gmail.com</p>
            </div>
        </nav>
    </footer>
</body>
</html>