* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   /* border: 1px solid gray;*/
   font-family: 'Roboto', sans-serif;
}

@media (max-width : 425px){
    /* mobile */

    body{
        background-color: #000000;
    }
    /* header */
    
    header {
        background-color: #603718;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px
    }

    header img{
        width: 30vw;
    }

    .menu-desktop, .barraBusqueda{
        display: none;
    }

    .fa-bars{
        font-size: 50px;
    }

    /* main */

    main{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .title {
        font-size: 24px;
        color: #727171;
        padding: 10px 0
    }

    .product-image img {
        width: 75vw;
        border-radius: 10px;
    }
    
    .price{
        padding: 20px 0;
    }

    .price h3{
        font-size: 22px;
    }

    .price p, .description p{
        font-size: 20px;
    }

    .price h3, p{
        color: #727171
    }

    .description {
        width: 75vw;
        height: 30vh;
        border: 2px solid #727171;
        border-radius: 10px;
    }

    .buy{
        padding: 30px;
        display: flex;
        justify-content: center;
    }
    
    .buy button{
        background-color: #000000;
        border: 2px solid #727171;
        border-radius: 10px;
        font-size: 20px;
        color: #727171;
        width: max-content;
        height: 15vw;
        transition: all, 40ms;
    }

    .buy button:active{
        background-color: #727171;
        color: #000000;
        border: 2px solid #000000;
    }

    .fa-whatsapp{
        color: #00a758;
        font-size: 40px;
    }
    
    .whatsapp{
        position: fixed;
        right: 20px;
        bottom: 65px;
        display: flex;
        border: 3px solid #00a758;
        border-radius: 60px;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }

    /* footer */

    .footer{
        display: none;
    }

    .footer-mobile{
        background-color: #727171;
        display: flex;
        height: 60px;
        justify-content: space-around;
        align-items: center;
    }

    .footer-mobile h3{
        font-size: 22px;
        color: #ffffff;
    }

    .footer-mobile i{
        font-size: 22px;
    }

    .icons-mobile{
        display: flex;
        width: 70px;
        justify-content: space-around;
    }
}

@media (min-width : 768px){
    /* tablet */
    body {
        background-color: #000000;
    }

    /* header */
    
    header {
        background-color: #603718;
        padding: 0 30px
    }

    header img{
        width: 30vw;
    }

    .header{
        display: flex;
    }

    .menu-desktop{
        display: flex;
        justify-content: space-between;
    }

    .barraBusqueda{
        display: none;
    }

    .bars{
        display: none;
    }
}