* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   /* border: 1px solid gray;*/
   font-family: 'Roboto', sans-serif;
}

header img {
    width: 30vw;
    padding-left: 10px;
    padding-right: 15px;
   /*    border: 1px solid gray;*/
   height: 100%;
    
}

footer img {
    width: 30vw;
}
header p {
    font-size: 14px ;
    font-weight: bold;
    margin-left: 5px;
}

header {
    background-color: lightblue;
    display:flex;
    padding-left: 10px;
    
    
}

header {
    height: 12vh;
}

footer {
    background-color: lightblue;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}
.iconos {
    font-size: 8vw;
}



.header {
    padding-left: 20px;
   display:flex;
   align-items: center;
   justify-content: space-arround;
   width: 90%;
}
.header i, fas {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 7vw;
}

.footer
{
    padding-left: 20px;
   display:flex;
   flex-direction: column-reverse;
   
}


.nuestros-productos {
    font-size: 6vw;
    font-weight: bolder;
    text-align: center;

}
.nuestros-productos ul li a{
    font-size: 4vw;
    text-decoration: none;
    color: black;
        
}

.footer div {
    text-align: center;
    padding: 5px 0px;
}

.barraBusqueda {
    background-color: white;
    border-radius: 5px;
    font-size: 4vw;
    padding: 5px;
    
    border: 1px solid gray;
    font-style: italic;

}

.fa-shopping-cart {
    padding-right: 10px;
}

.productos-carro {
    display:flex;
    justify-content: space-between ;
    width: 100%;
    border: 1px solid gray;
   
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 10px;
    background-color: rgb(217, 233, 233);
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.productos-carro img{
    width: 20%;
    padding: 5px;
       
}
.productos-carro h3 {
    font-size: 4vw;
}
.productos-carro h6 {
    font-size: 2vw;
}
.productos-carro h4 {
    font-size: 3vw;
}
.menu-desktop {
    display: none;
}

div.detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.prods {
    
    /*border: 1px solid gray;*/
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-left: 5px;
    /* width: 50%;*/
   
}


.boton-carro {
    display: flex;
    align-items: center;
}

.num {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

section.resumen{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    /*border: 1px solid gray;*/
    
    justify-content: center;
    align-items: center;
    padding-right: 1px;
    padding-left: 1px;
    
}

.main-carrito {
    display: flex;
    flex-direction: column;
    
}

.caja { 
    width: 80%;
    /*margin-top: 10px;*/
    margin-bottom: 20px;
    background-color: lightgrey;
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    
    
}
.caja p {
    font-size: 40vw;
}

.boton {
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
            margin-left: 5px;
    margin-right: 5px;
    margin-top: 15px;
    font-size: 5vw;
}

.a1, .a2, .a3, .a4 {
    display: flex;
   
    justify-content: space-between;
    padding: 5px;
}



div.a1 p, div.a2 p, div.a3 p, div.a4 p {
    font-size: 4vw;
}

.a3 {
    border-bottom: grey solid 1px;
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    list-style: none;
}

.main-image-productDetails{
    text-align: center;
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}

.main-image-productDetails img{
    width: 100%;   
}

.reference-images-productDetails{
    display: flex;
    width: 25vw;
    margin-left: 25%;
    margin-right: 25%;
}

.reference-images-productDetails img{
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    padding: 10px;
}

.reference-images-productDetails-img1{
    border: 1px solid gray;
    border-right: none;
}

.reference-images-productDetails-img2{
    border: 1px solid gray;
    border-left: none;
}

.benefits{
    background-color: #7e828727;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

.price-cuotas-shipping-garanty{
    display: flex;
    flex-direction: column;
}

.price{
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    width: min-content;
}

.cuotas-shipping-garanty{
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    width: max-content;
    font-weight: bold;
}

.caracteristics{
    background-color: lightblue;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
    height: 300px;
}

@media (min-width: 769px){
    .product-details{
        display: flex;
    }

    .reference-images-productDetails{
        order: -1;
        flex-direction: column;
        margin-top: 1%;
        margin-bottom: 1%;
        margin-left: 1%;
        margin-right: 0%;
        align-self: center;
        width: 20%;
    }

    .reference-images-productDetails-img1{
        border-right: 1px solid gray;
        border-bottom: none;
    }

    .reference-images-productDetails-img2{
        border-left: 1px solid gray;
        border-top: none
    }

    .benefits{
        height: min-content;
    }
    .fa-bars{
        visibility:hidden;
    }
    .menu-desktop {
        display: contents;
    }
    
}

.body_home{
    background-color: #7e828727;
}
.body_home main{
    width: 100vw
}   
.banner{
    width: 100%;
}

.abajo_banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.botones_populares_ofertras{
    background-color: #802a00;
    border-radius: 5px;
    padding: 1px;
    width: 20%;
    margin: 4px;
    font-size: 15px;
    text-align: center;
}

.productos_home{
    display: flex;
    justify-content: center;
    padding: 0%;
    align-items: stretch;
    flex-wrap: wrap;
}

.productos_home article{
    background-color: #fff;
    width: 140px;
    border: #7e8287 2px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;

}

.productos_home article img{
    
    border-bottom: #7e8287 solid 1px;
}

.titulo_productos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.titulo_productos p{
    background-color: #802a00;
    border-radius: 5px;
}

.nuestros_productos{
    display: flex;
    padding: 0%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 25px;
}

.nuestros_productos article{
    background-color: #fff;
    width: 100px;
    border: #7e8287 2px solid;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}

    
