* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  background-color: #603718;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

header a img {
  width: 20vw;
}

.menu-desktop,
.barraBusqueda {
  display: none;
}

.fa-bars {
  font-size: 50px;
}

/* FOOTER */
.footer {
  display: none;
}

.footer-mobile {
  background-color: #727171;
  display: flex;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.footer-mobile h3 {
  font-size: 22px;
  color: #ffffff;
}

.footer-mobile i {
  font-size: 22px;
}

.icons-mobile {
  display: flex;
  width: 70px;
  justify-content: space-around;
}

.navbar-icons {
  display: none;
}

.navbar-icons a i{
  color: #000
}
/* HOME */
main {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
}

.home_main_Categorias {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: none;
}
.home_main_Categorias_Divs {
  width: 19%;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  border: #727171 2px solid;
}
.home_main_Categorias > div > a > img {
  width: 15vw;
}

.Home_cuadrado {
  color: #fff;
  position: relative;
  right: 45%;
  bottom: 25px;
}

.Home_cuadrado i {
  border-left: #727171 solid 2px;
  border-top: #727171 solid 2px;
  transform: rotate(45deg);
}

.Home_Detalle_categoria {
  height: 150vw;
}
.Home_Detalle_categoria_Pianos {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 130vw;
  width: 97%;
  align-items: center;
  border: #727171 solid 2px;
  position: absolute;
  top: 60vw;
  left: 1vw;
}
.Home_Detalle_categoria_Guitarras {
  display: none;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 130vw;
  width: 97%;
  align-items: center;
  border: #727171 solid 2px;
  position: absolute;
  top: 60vw;
  left: 1vw;
}
.Home_Detalle_categoria_Viento {
  display: none;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 130vw;
  width: 97%;
  align-items: center;
  border: #727171 solid 2px;
  position: absolute;
  top: 60vw;
  left: 1vw;
}
.Home_Detalle_categoria_Accesorios {
  display: none;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 130vw;
  width: 97%;
  align-items: center;
  border: #727171 solid 2px;
  position: absolute;
  top: 60vw;
  left: 1vw;
}
.Home_Detalle_categoria_Produccion {
  display: none;
  background-color: #fff;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 130vw;
  width: 97%;
  align-items: center;
  border: #727171 solid 2px;
  position: absolute;
  top: 60vw;
  left: 1vw;
}
.Home_Tarjeta_producto_destacado > a > img {
  width: 80%;
  border-bottom: #333 solid 1px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.Home_Tarjeta_producto_destacado a {
  display: flex;
  justify-content: center;
}
.Home_Tarjeta_producto_destacado {
  padding: 10px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  border: #727171 4px solid;
  margin: 10px 0;
}
.Home_Boton_categoria {
  z-index: 150;
  width: 50%;
  background-color: #603718;
  border-radius: 5px;
}

.Home_Boton_categoria a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.Home_Categ_Guitarras:focus + .Home_Detalle_categoria_Guitarras {
  display: flex;
}
.Home_Categ_Viento:focus + .Home_Detalle_categoria_Viento {
  display: flex;
}
.Home_Categ_Accesorios:focus + .Home_Detalle_categoria_Accesorios {
  display: flex;
}
.Home_Categ_Produccion:focus + .Home_Detalle_categoria_Produccion {
  display: flex;
}
.Home_Desktop {
  display: none;
}

/* CARRITO */
.carrito-productos-carro {
  display:flex;
  justify-content: space-between ;
  width: 100%;
  border: 2px solid gray;
 
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  
}

.carrito-productos-carro img{
  width: 20%;
  padding: 5px;
     
}
.carrito-productos-carro h3 {
  font-size: 5vw;
}
.carrito-productos-carro h6 {
  font-size: 3vw;
}
.carrito-productos-carro h4 {
  font-size: 4vw;
}

div.carrito-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  
  
}

.carrito-prods {
  
  /*border: 1px solid gray;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  /* width: 50%;*/
 
}


.carrito-boton-carro {
  display: flex;
  align-items: center;
}

.carrito-num {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
}

section.carrito-resumen{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
  /*border: 1px solid gray;*/
  
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-left: 1px;
  
}

.carrito-main {
  display: flex;
  flex-direction: column;
  background-color: black;
  
}

.carrito-caja { 
  width: 80%;
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  background-color: black;
  border: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: white;
  
  
}
.carrito-caja p {
  font-size: 40vw;
}

.carrito-boton {
  background-color: black;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
          margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  font-size: 5vw;
}

.carrito-a1, .carrito-a2, .carrito-a3, .carrito-a4 {
  display: flex;
 
  justify-content: space-between;
  padding: 5px;
}



div.carrito-a1 p, div.carrito-a2 p, div.carrito-a3 p, div.carrito-a4 p {
  font-size: 4vw;
}

.carrito-a3 {
  border-bottom: grey solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}
/*------------------Fin Carrito-----------------------------------*/
/* CREACION de PROD  */

.main-crear {

  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  text-align: center;
}

.crear-form-titulo {
  margin: 20px;
  font-weight: bolder ;
  font-size: 8vw;
  border: 2px solid white;
  padding: 5vw;
  border-radius: 10px;

}
.crear-form-body {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.create-form1 {
  display: flex;
  flex-direction: column;
  padding: 1vw 5vw;
  width: 80%;
  margin: auto;
}

.crear-form-label{
  font-size: 4vw;
}
.crear-form-button {
  margin: 4px;
  padding: 6px;
  font-size: 4vw;
  border-radius: 10px;
  font-weight: bolder;
}
.crear-form-input {
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  margin: 2px;
}

/* ---Fin CREACION de PROD */
/* DETALLE DE PRODUCTO */

.detail-body {
  background-color: #000000;
}

.detail-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.detail-title {
  font-size: 22px;
  color: #727171;
  padding: 10px 0;
}

.detail-product-image img {
  width: 75vw;
  border-radius: 10px;
}

.detail-price {
  padding: 20px 0;
}

.detail-price h3 {
  font-size: 20px;
}

.detail-price p,
.detail-description p {
  font-size: 20px;
}

.detail-price h3,
p {
  color: #727171;
}

.detail-description {
  width: 75vw;
  height: 30vh;
  border: 2px solid #727171;
  border-radius: 10px;
}

.detail-buy {
  padding: 30px;
  display: flex;
  justify-content: center;
}

.detail-buy button {
  background-color: #000000;
  border: 2px solid #727171;
  border-radius: 10px;
  font-size: 20px;
  color: #727171;
  width: max-content;
  height: 65px;
  transition: all, 40ms;
}

.detail-buy button:active {
  background-color: #727171;
  color: #000000;
  border: 2px solid #000000;
}

.fa-whatsapp {
  color: #00a758;
  font-size: 40px;
}

.whatsapp {
  position: fixed;
  right: 20px;
  bottom: 65px;
  display: flex;
  border: 3px solid #00a758;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}

/* REGISTRO y LOGIN */
.mainDeRegistro {
  height: 100%;
}
.mainLogIn {
  height: 100%;
}
.cajaSignIn {
  background-color: grey;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20%;
  border-radius: 15px;
  padding: 10%;
}
.titulo {
  text-align: center;
  margin-top: 2vh;
}
.datosParaIngresar {
  text-align: left;
  margin-top: 3vh;
  margin-left: 5vw;
  background-color: white;
  margin-left: 3%;
  margin-left: 3%;
  border-radius: 5px;
  color: black;
  font-weight: lighter;
}
.preguntaClave {
  text-decoration: underline;
  text-align: center;
  margin-top: 10px;
}
.inicio {
  background-color: white;
  border: solid black 1px;
  padding: 3px;
  text-align: center;
  margin-top: 10%;
  border-radius: 10px;
}
.formu {
  text-align: left;
  margin-top: 20%;
  margin-right: 20%;
  margin-bottom: 43%;
  padding-left: 20px;
  border-radius: 7px;
  color: #727171;
}
.formuRegistro {
  text-align: left;
  margin-top: 10%;
  margin-right: 20%;
  margin-bottom: 43%;
  padding-left: 20px;
  border-radius: 7px;
  color: #727171;
}
.enviar {
  margin-top: 20px;
}
.cuadroBlancoDatos {
  border-bottom: solid 1px #727171;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: black;
  color: #727171;
  width: 120%;
  margin-top: 50px;
}
.tituloLogin {
  color: #727171;
  text-align: center;
  padding-top: 50px;
}
.botonInicioPa {
  color: #727171;
  border: 1px solid #727171;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  margin-left: 35%;
  margin-right: 40%;
  margin-top: 100px;
}
.botonInicioPa:hover {
  background-color: #727171;
  color: black;
}
.botonRegistroPa {
  color: #727171;
  border: 1px solid #727171;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 70px;
}
.botonRegistroPa:hover {
  background-color: #727171;
  color: black;
}
.tituloRegistro {
  color: #727171;
  text-align: center;
  margin-top: 50px;
}
.olvidasteLaClave {
  color: #727171;
  text-decoration: none;
  font-weight: 100;
  margin-left: 16%;
  margin-top: 10px;
}

/* Edición de Productos */

.edit-body {
  background-color: #000000;
}

.edit-title {
  font-size: 22px;
  color: #727171;
  padding: 10px;
}

.edit-form{
  display: flex;
  justify-content: center;
  color: #727171;
  height: 60vh;
}

.edit-items{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.edit-description{
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.edit-submit{
  display: flex;
  justify-content: center;
}

.edit-submit button {
  background-color: #000000;
  border: 2px solid #727171;
  border-radius: 10px;
  font-size: 20px;
  color: #727171;
  width: max-content;
  transition: all, 40ms;
}

.edit-submit button:active {
  background-color: #727171;
  color: #000000;
  border: 2px solid #000000;
}

/*---MEDIA QUERI---*/
@media (min-width: 769px) {
  /* header */
  header {
    background-color: #603718;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
  }

  header img {
    width: 15%;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

  .menu-desktop p {
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
  }

  .barraBusqueda {
    display: none;
  }

  .bars {
    display: none;
  }

  .navbar-icons {
    display: inline-block;
    width: 20%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
  }

  .formu {
    margin-left: 37%;
    margin-right: 42%;
    margin-top: 7%;
    margin-bottom: 0px;
  }
  .formuRegistro {
    margin-left: 37%;
    margin-right: 42%;
    margin-top: 5%;
    margin-bottom: 0px;
  }
}

/* LISTADO PRODUCTOS */

/* PERFIL USUARIO */

@media (min-width: 425px) {
  /* HEADER */
  .header{
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
  }

  .menu-desktop{
      width: 50%;
      justify-content: space-around;
  }

  .menu-desktop p{
      font-weight: 100;
  }

  .barraBusqueda{
      display: flex;
      width: 30%;
      justify-content: flex-end;
      align-items: center;
  }

  .navbar-icons{
      display: flex;
      justify-content: space-around;
      font-size: 2vw;
      width: 15%;
  }

  .fa-search{
      font-size: 2vw;
  }

  #search{
      height: 5vh;
      width: 40vw;
      border-radius: 10px;
      font-size: 2.5vh;
  }

  .barraBusqueda button {
      background-color:rgba(0, 0, 0, 0);
      border: none;
      border-radius: 10px;
      font-size: 20px;
      color: #000000;
      width: max-content;
      padding: 10px
  }

  header {
    background-color: #603718;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
  }

  header img {
    width: 15%;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

  .menu-desktop p {
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
  }

  .barraBusqueda {
    display: none;
  }

  .bars {
    display: none;
  }

  .navbar-icons {
    display: inline-block;
    width: 20%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
  }

  /* FOOTER */

  /* HOME */
  main {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }

  .home_main_Categorias {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* max-width: 425px; */
    justify-content: space-between;
  }
  .home_main_Categorias_Divs {
    width: 19%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    border: #727171 2px solid;
    max-height: 140px;
  }
  .home_main_Categorias > div > a > img {
    width: 15vw;
    max-width: 69px;
  }

  .Home_cuadrado {
    color: #fff;
    position: relative;
    right: 45%;
    bottom: 40px;
    font-size: 3em;
    display: none;
  }

  .Home_cuadrado i {
    border-left: #727171 solid 2px;
    border-top: #727171 solid 2px;
    transform: rotate(45deg);
  }

  .Home_Detalle_categoria {
    height: 140vw;
  }

  .Home_Detalle_categoria_Pianos {
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: 130vw;
    width: 97%;
    align-items: center;
    border: #727171 solid 2px;
    position: absolute;
    top: 50vw;
    left: 1vw;
    max-height: 700px;
  }
  .Home_Detalle_categoria_Guitarras {
    display: none;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: 130vw;
    width: 97%;
    align-items: center;
    border: #727171 solid 2px;
    position: absolute;
    top: 50vw;
    left: 1vw;
    max-height: 700px;
  }
  .Home_Detalle_categoria_Viento {
    display: none;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: 130vw;
    width: 97%;
    align-items: center;
    border: #727171 solid 2px;
    position: absolute;
    top: 50vw;
    left: 1vw;
    max-height: 700px;
  }
  .Home_Detalle_categoria_Accesorios {
    display: none;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: 130vw;
    width: 97%;
    align-items: center;
    border: #727171 solid 2px;
    position: absolute;
    top: 50vw;
    left: 1vw;
    max-height: 700px;
  }
  .Home_Detalle_categoria_Produccion {
    display: none;
    background-color: #fff;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    height: 130vw;
    width: 97%;
    align-items: center;
    border: #727171 solid 2px;
    position: absolute;
    top: 50vw;
    left: 1vw;
    max-height: 700px;
  }
  .Home_Tarjeta_producto_destacado > a > img {
    width: 80%;
    border-bottom: #333 solid 1px;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }
  .Home_Tarjeta_producto_destacado a {
    display: flex;
    justify-content: center;
  }
  .Home_Tarjeta_producto_destacado {
    padding: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: #727171 4px solid;
    margin: 10px 0;
  }
  .Home_Boton_categoria {
    z-index: 150;
    width: 50%;
    background-color: #603718;
    border-radius: 5px;
  }

  .Home_Boton_categoria a {
    text-decoration: none;
    color: #fff;
    text-align: center;
  }

  .Home_Categ_Guitarras:focus + .Home_Detalle_categoria_Guitarras {
    display: flex;
  }
  .Home_Categ_Viento:focus + .Home_Detalle_categoria_Viento {
    display: flex;
  }
  .Home_Categ_Accesorios:focus + .Home_Detalle_categoria_Accesorios {
    display: flex;
  }
  .Home_Categ_Produccion:focus + .Home_Detalle_categoria_Produccion {
    display: flex;
  }
  .Home_Desktop {
    display: none;
  }

  /* CARRITO */

  /* DETALLE DE PRODUCTO */

  /* LOGIN */

  /* REGISTRO */

  /* LISTADO PRODUCTOS */

  /* PERFIL USUARIO */
}

@media (min-width: 768px) {
  /* HEADER */
  header {
    background-color: #603718;
    padding: 0 30px;
    display: flex;
    justify-content: flex-start;
  }

  header img {
    width: 15%;
  }

  .header {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .menu-desktop {
    display: flex;
    justify-content: space-around;
    width: 70%;
  }

  .menu-desktop p {
    color: #000000;
    font-weight: bold;
    font-size: 1.8vw;
  }

  .barraBusqueda {
    display: none;
  }

  .bars {
    display: none;
  }

  .navbar-icons {
    display: inline-block;
    width: 20%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
  }
  /* FOOTER */

  /* HOME */
  main {
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
  }
  .Home_Detalle_categoria {
    display: none;
  }
  .home_main_Categorias_Divs {
    display: none;
  }
  .Home_Desktop {
    display: flex;
    flex-direction: column;
  }
  .Home_Desktop > h2 {
    color: #727171;
    font-size: 3em;
  }

  .Home_Categorias_Desktop {
    display: flex;
    flex-direction: column;
  }

  .Home_Categoria_Art_Desktop {
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: #333 solid 2px;
    padding: 15px;
    margin: 5px 0;
  }
  .Home_Categoria_Art_Desktop_1 {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 5px;
    border: #333 solid 2px;
    padding: 15px;
    margin: 5px 0;
  }
  .Home_Categoria_Art_Desktop > img {
    width: 450px;
    padding: 40px;
  }
  .Home_Categoria_Art_Desktop_1 > img {
    width: 450px;
    padding: 40px;
  }
  .Home_Descripcion_Categoria_Desktop {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .Home_Boton_Ir_Categoria_Desktop {
    background-color: #603718;
    border: #000000 solid 2px;
    border-radius: 6px;
    width: 170px;
    padding: 10px;
  }
  .Home_Boton_Ir_Categoria_Desktop > a {
    color: #fff;
    text-decoration: none;
  }

  /* CARRITO */

  /* DETALLE DE PRODUCTO */

  /* LOGIN */

  /* REGISTRO */

  /* LISTADO PRODUCTOS */

  /* PERFIL USUARIO */
}

@media (min-width: 1024px) {
  /* header */

  .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .menu-desktop {
    width: 50%;
    justify-content: space-around;
  }

  .menu-desktop p {
    font-weight: 1000;
  }

  .barraBusqueda {
    display: flex;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-icons {
    display: flex;
    justify-content: space-around;
    font-size: 2vw;
    width: 15%;
  }

  .fa-search {
    font-size: 2vw;
  }

  #search {
    height: 5vh;
    width: 40vw;
    border-radius: 10px;
    font-size: 2.5vh;
  }

  .barraBusqueda button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    width: max-content;
    padding: 10px;
  }
  /* FOOTER */
  .footer-mobile {
    display: none;
  }

  .footer {
    display: flex;
    background-color: #727171;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6vw;
  }

  .footer img {
    width: 10%;
  }

  .footer ul li a {
    text-decoration: none;
    color: #000000;
  }

  .footer ul li {
    list-style-type: none;
    text-align: center;
  }

  .datos {
    color: #000000;
  }
  /* HOME */

  /* CARRITO */
  
.carrito-productos-carro {
  display:flex;
  justify-content: space-between ;
  width: 100%;
  border: 2px solid gray;
 
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  
}

.carrito-productos-carro img{
  width: 20%;
  padding: 5px;
     
}
.carrito-productos-carro h3 {
  font-size: 5vw;
}
.carrito-productos-carro h6 {
  font-size: 3vw;
}
.carrito-productos-carro h4 {
  font-size: 4vw;
}

div.carrito-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  
  
}

.carrito-prods {
  
  /*border: 1px solid gray;*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  /* width: 50%;*/
 
}


.carrito-boton-carro {
  display: flex;
  align-items: center;
}

.carrito-num {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 5px;
  margin-right: 5px;
  color: #000000;
}

section.carrito-resumen{
  width: 100%;
  display: flex;
  flex-direction: column;
  
  
  /*border: 1px solid gray;*/
  
  justify-content: center;
  align-items: center;
  padding-right: 1px;
  padding-left: 1px;
  
}

.carrito-main {
  display: flex;
  flex-direction: column;
  background-color: black;
  
}

.carrito-caja { 
  width: 80%;
  /*margin-top: 10px;*/
  margin-bottom: 20px;
  background-color: black;
  border: 2px solid gray;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  color: white;
  
  
}
.carrito-caja p {
  font-size: 40vw;
}

.carrito-boton {
  background-color: black;
  border: 2px solid gray;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
          margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  font-size: 5vw;
}

.carrito-a1, .carrito-a2, .carrito-a3, .carrito-a4 {
  display: flex;
 
  justify-content: space-between;
  padding: 5px;
}



div.carrito-a1 p, div.carrito-a2 p, div.carrito-a3 p, div.carrito-a4 p {
  font-size: 4vw;
}

.carrito-a3 {
  border-bottom: grey solid 1px;
  padding-left: 5px;
  padding-right: 5px;
}
/*------------------Fin Carrito-----------------------------------*/
/* DETALLE DE PRODUCTO */

  .detail-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .detail-title {
    position: absolute;
    top: 15vw;
    right: 16vw;
  }

  .detail-product-image {
    width: max-content;
    padding: 50px;
  }

  .detail-product-image img {
    width: 50vw;
  }

  .detail-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24vw;
    position: absolute;
    top: 20vw;
    right: 12vw;
  }

  .detail-title {
    font-size: 2.6vw;
  }

  .detail-buy {
    position: absolute;
    bottom: 10vw;
    right: 3.5vw;
  }
  .detail-buy button {
    width: 35vw;
    height: min-content;
  }
  .detail-price h3 {
    font-size: 2.5vw;
  }
  .detail-price p,
  .detail-description p {
    font-size: 2vw;
  }

  .detail-buy h2 {
    font-size: 2.6vw;
  }

  .detail-description {
    position: relative;
    left: 12vw;
    margin: 20px;
  }

  .whatsapp {
    width: 5vw;
    height: 5vw;
    bottom: 8vw;
  }

  .fa-whatsapp {
    font-size: 4vw;
  }

  /* LOGIN */

  /* REGISTRO */

  /* LISTADO PRODUCTOS */

  /* PERFIL USUARIO */
}
