<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Login'}); %>  
  <body>
      <!-- header -->
      <%- include('../partials/header') %> 
      <!-- main -->
      <main class="mainLogIn">
        <% if(locals.mensaje) {%>
            <h2 class="err-rojo-creacion-prod login-error"><i class="fas fa-exclamation-triangle"></i> Inicia sesión para disfrutar de los mejores productos musicales!</h2>
        <% } %>
        <h2 class="tituloLogin">Iniciar Sesión</h2>
          <div class="errores">
              <ul class = "err-rojo-creacion-prod"></ul>
          </div>
        <form class="logIn" action="/users/login" method="POST">
            <div class="formu">

                <input class=cuadroBlancoDatos type="text" name="email" id="email" required
                    placeholder="Email"><br>

                    <% if(locals.errors && errors.email) {%>
                        <div><%= errors.email.msg %></div>
                    <% } %>

                <input class=cuadroBlancoDatos type="password" name="contrasena" id="contrasena" alt="strongPass"
                     required placeholder="Contraseña"><br>

                <input type="checkbox" name="remember_user" class= "checkbox" >
                <label for="remember_user">Recordar Usuario</label>

                <br /><br />
                    <h4 class="olvidasteLaClave"><a href="#" >Olvidaste tu Contraseña?</a></h4>

                    <h4 class="olvidasteLaClave"><a href="/users/register" >No tenés cuenta? Registrate acá</a></h4>
                <input class="botonInicioPa" type="submit" value="INICIAR SESIÓN">
            </div>

        </form>
    </main>
<!-- footer -->
<%- include('../partials/footer') %>
      <script src="/js/validationsUsersLogIn.js"></script>
</body>
</html>
