<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Login'}); %>  
  <body>
      <!-- header -->
      <%- include('../partials/header') %> 
      <!-- main -->
      <main class="mainLogIn">
        <h2 class="tituloLogin">Iniciar Sesión</h2>
        <form action="/home" method="POST">
            <div class="formu">
                <input class=cuadroBlancoDatos type="text" name="nombre" id="nombreDeUsuario" minlength="4" required
                    placeholder="Email"><br>

                <input class=cuadroBlancoDatos type="password" name="contrasena" id="contrasena" alt="strongPass"
                    minlength="4" required placeholder="Contraseña"><br>
                    <h4 class="olvidasteLaClave"><a href="#" class="olvidasteLaClave">Olvidaste tu Contraseña?</a></h4>
                <input class="botonInicioPa" type="submit" value="INICIAR SESIÓN">
            </div>

        </form>
    </main>
<!-- footer -->
<%- include('../partials/footer') %> 
</body>
</html>
