<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Producto</title>
    <link rel="stylesheet" href="/public/css/stylesheet2.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
    <link rel="icon" href="/images/music-solid.svg">
</head>

<body>
    <!-- header -->
    <%- include('../partials/header') %>
        <!-- main -->
        <main class="mainDeRegistro">
            <h2 class="tituloRegistro">Registrate</h2>
            <div class="formuRegistro">
                <form action="/registro" method="POST">

                    <input class=cuadroBlancoDatos type="text" name="nombre" id="nombre"
                        placeholder="Nombre y Apellido">
                    <input class=cuadroBlancoDatos type="text" name="nombre de usuario" id="nombre de usuario"
                        minlength="4" placeholder="Nombre de usuario">
                    <input class=cuadroBlancoDatos type="date" name="fecha" placeholder="Fecha De Nacimiento">
                    <input class=cuadroBlancoDatos type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                    <input class=cuadroBlancoDatos type="password" name="contrasena" id="contrasena" alt="strongPass"
                        required minlength="4" placeholder="Contraseña"><br><br>


                    <input type="submit" value="REGISTRAR" class="botonRegistroPa">

                </form>
            </div>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %>
</body>

</html>