<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Registro'}); %>  
<body>
    <!-- header -->
    <%- include('../partials/header') %>
        <!-- main -->
        <main class="mainDeRegistro">
            <h2 class="tituloRegistro">Registrate</h2>
            <div class="formuRegistro">
                <form action="/registro" method="POST">

                    <input class=cuadroBlancoDatos type="text" name="nombre" id="nombre"
                        placeholder="Nombre y Apellido">
                    <input class=cuadroBlancoDatos type="text" name="nombre de usuario" id="nombre de usuario"
                        minlength="4" placeholder="Nombre de usuario">
                    <input class=cuadroBlancoDatos type="date" name="fecha" placeholder="Fecha De Nacimiento">
                    <input class=cuadroBlancoDatos type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                    <input class=cuadroBlancoDatos type="password" name="contrasena" id="contrasena" alt="strongPass"
                        required minlength="4" placeholder="Contraseña"><br><br>


                    <input type="submit" value="REGISTRAR" class="botonRegistroPa">

                </form>
            </div>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %>
</body>

</html>