<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Carrito'}); %>  
    <body>
        <!-- header -->
        <%- include('../partials/header.ejs'); %> 
        <!-- main -->
        <main class="carrito-main">
            <section class="carrito-prods" >
                <article class="carrito-productos-carro">
                    <img src="/Images/guitar.jpg" alt="Articulo 1">
                    <div class="carrito-detalle">
                        <h3>Guitarra Fender</h3>
                        <h6>Guitarra criolla clásica Gracia M1 natural</h4>
                            <h4>$40.000</h5>
                            </div>
                            <div class="carrito-boton-carro">
                        <div>+</div>
                        <div class="carrito-num">1</div>
                        <div>-</div>
                    </div>
                </article>
                <article class="carrito-productos-carro">
                    <img src="/Images/cableGuitarra.jpg" alt="cable guitarra">
                    <div class="carrito-detalle">
                        <h3>Cable</h3>
                        <h6>Cable para instrumentos plug plug</h4>
                            <h4>$950</h5>
                            </div>
                            <div class="carrito-boton-carro">
                                <div>+</div>
                                <div class="carrito-num">2</div>
                                <div>-</div>
                            </div>
                        </article>
                    </section>
                    <section class="carrito-resumen">
                        <div class="carrito-caja">
                            <div class="carrito-a1">
                                <p>Guitarra Fender 1u</p><p><strong>$40.000</strong></p>
                </div>
                <div class="carrito-a2">
                    <p>Cable 2u</p><p><strong>$1900</strong></p>
                </div>
                <div class="carrito-a3">
                    <p>Envio</p><p><strong>$500</strong></p>
                </div>
                <div class="carrito-a4">
                    <p><strong>Total</strong></p><p><strong>$42.400</strong></p>
                </div>
                <div class="carrito-boton">
                    Finalizar Compra
                </div>
            </div> 
        </section>
    </main>
    <!-- footer -->
    <%- include('../partials/footer') %> 
</body>
</html>