<!------head----------->

<%- include("../partials/head",{title: 'Creacion'}) %>

<!-------------------->

<body>

<!------header----------->
<%- include("../partials/header") %>
<!-------------------->
<main class= "main-crear">

    <form action="/products" method="POST" enctype="multipart/form-data" >
    <div class="crear-form-titulo">
        Ingresar nuevo producto
    </div>
    <div class="crear-form-body">
    <div class="create-form1">
        <label for="nombre" class="crear-form-label">Nombre</label>
        <input type="text" name="nombre" placeholder= "Ex. producto 1" class="crear-form-input">
     </div>
     <div class="create-form1">
        <label for="precio" class="crear-form-label">Precio</label>
        <input type="text" name="precio" placeholder="Ex. 100" class="crear-form-input">
     </div>  
     <div class="create-form1">
        <label for="description" class="crear-form-label">Descripción</label>
        <textarea name="description" id="" cols="30" rows="10" class="crear-form-input"></textarea>
     </div>
     <div class="create-form1">
         <label for="categorias">Elegí una categoría</label>
         <select name="categorias" id="categorias">
            <option value="4">Pianos</option>
            <option value="2">Guitarras</option>
            <option value="3">Viento</option>
            <option value="1">Batería y Percusión</option>
            
         </select>
     <div class="'create-form1">
     <label for="image">Inserte una imagen</label>
      <input type="file" name="image" />
     </div>
     <div class="create-form1">   
     <div>
     <button type="submit" class="crear-form-button">Guardar Producto</button>
     </div>
    </div> 
</form>
</main>
<!------footer----------->
<%- include("../partials/footer") %>
<!-------------------->
    
</body>
