<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Producto</title>
        <link rel="stylesheet" href="/public/css/stylesheet2.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
        <link rel="icon" href="/images/music-solid.svg">
    </head>
    <body class="detail-body">
        <!-- header -->
        <%- include('../partials/header') %> 
        <!-- main -->
        <main class="detail-main">
            <h3 class="detail-title">Guitarra Fender</h3>
            <div class="detail-product-image">
                <img src= "images/guitar-fender.jpg" alt="guitar-fender.jpg">
            </div>
            <div class="detail-price">
                <h3>Precio</h3>
                <br>
                <p>Cuotas sin Interés</p>
            </div>
            <div class="detail-description">
                <p>Descripción</p>
            </div>
            <div class="detail-buy">
                <button name="buy" type="submit">
                    <h2>
                        Comprar
                    </h2>
                </button>
            </div>
            <div class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </div>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %> 
    </body>
</html>