<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs', {title: 'Producto'}); %>  
    <body class="detail-body">
        <!-- header -->
        <%- include('../partials/header') %> 
        <!-- main -->
        <main class="detail-main">
            <h3 class="detail-title">Guitarra Fender</h3>
            <div class="detail-product-image">
                <img src= "images/guitar-fender.jpg" alt="guitar-fender.jpg">
            </div>
            <div class="detail-price">
                <h3>Precio</h3>
                <br>
                <p>Cuotas sin Interés</p>
            </div>
            <div class="detail-description">
                <p>Descripción</p>
            </div>
            <div class="detail-buy">
                <button name="buy" type="submit">
                    <h2>
                        Comprar
                    </h2>
                </button>
            </div>
            <div class="whatsapp">
                <i class="fab fa-whatsapp"></i>
            </div>
        </main>
        <!-- footer -->
        <%- include('../partials/footer') %> 
    </body>
</html>