<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head', {title: 'Inicio'}); %>  
    <body class="body_home">
    <!-- header -->

    <%- include('../partials/header'); -%>
    
    <!-- main -->
    <main>
        <section class="home_main_Categorias">
          <div class="home_main_Categorias_Divs">
            <a href="#" class="Home_Categ_Pianos"
              ><img src="/images/logo piano.png"
            /></a>
            <div class="Home_Detalle_categoria_Pianos">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2>Pianos</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo piano.png" /></a>
                <a href="/products/detail/"><h4>Piano ABCD</h4></a>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="#" class="Home_Categ_Guitarras"
              ><img src="/images/logo guitarra.png"
            /></a>
            <div class="Home_Detalle_categoria_Guitarras">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2>Guitarras</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo guitarra.png" /></a>
                <h4>guitarra ABCD</h4>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="#" class="Home_Categ_Viento"
              ><img src="/images/logo viento.png"
            /></a>
            <div class="Home_Detalle_categoria_Viento">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2>Viento</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo viento.png" /></a>
                <h4>Saxofón ABCD</h4>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="#" class="Home_Categ_Accesorios"
              ><img src="/images/logo accesorios.png"
            /></a>
            <div class="Home_Detalle_categoria_Accesorios">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2>Accesorios</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo accesorios.png" /></a>
                <h4>Amplificador ABCD</h4>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
          <div class="home_main_Categorias_Divs">
            <a href="#" class="Home_Categ_Produccion"
              ><img src="/images/logo mic.png"
            /></a>
            <div class="Home_Detalle_categoria_Produccion">
              <div class="Home_cuadrado">
                <i class="fas fa-square-full"></i>
              </div>
              <h2>Produccion</h2>
              <!-- aca va la tarjeta del producto destacado -->
              <article class="Home_Tarjeta_producto_destacado">
                <a href="#"><img src="/images/logo mic.png" /></a>
                <h4>Microfono ABCD</h4>
                <p>99.999$</p>
                <p>20%OFF</p>
              </article>
              <!-- pongo una imagen, despues lo hago bien con el ejs -->
              <div class="Home_Boton_categoria">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </div>
          </div>
        </section>
        <section class="Home_Detalle_categoria"></section>
        <section class="Home_Desktop">
          <h2>¿Qué buscas?</h2>
          <div class="Home_Categorias_Desktop">
            <!-- PIANO -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo piano.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Pianos</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- GUITARRA -->
            <article class="Home_Categoria_Art_Desktop_1">
              <img src="/images/logo guitarra.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Guitarras y Bajos</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- INST. VIENTO -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo viento.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Instrumentos de Viento</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- ACC. -->
            <article class="Home_Categoria_Art_Desktop_1">
              <img src="/images/logo accesorios.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Accesorios</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
            <!-- PROD. -->
            <article class="Home_Categoria_Art_Desktop">
              <img src="/images/logo mic.png" />
              <div class="Home_Descripcion_Categoria_Desktop">
                <h3>Producción Musical</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Delectus ut rerum, earum repudiandae dicta perspiciatis
                </p>
              </div>
              <div class="Home_Boton_Ir_Categoria_Desktop">
                <a href="#"><p>Ir a Categoría</p></a>
              </div>
            </article>
          </div>
        </section>
      </main>
    <!-- footer -->
    <%- include('../partials/footer.ejs') %> 
</body>
</html>