<!------head----------->

<%- include("../partials/head",{title: 'Productslist'}) %>

<!-------------------->

<body>
    


<!------header----------->
<%- include("../partials/header") %>
<!-------------------->
<main>
Esta es la pagina de producto "completar"

</main>
<!------footer----------->
<%- include("../partials/footer") %>
<!-------------------->
</body>